BOT_TOKEN_JS="bot token for js bot"
BOT_TOKEN_PYTHON="bot token for python bot"

API_ID="your telegram api id"
API_HASH="your telegram api hash"

CHAT_ID_PYTHON="chanel id python bot will send news to"
CHAT_ID_JS=channel id js bot will send news to

PARSING_CHAT="channel name to parse news"